<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee 
                             https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
         
    <display-name>TP_Servlet</display-name>

    <welcome-file-list>
        <welcome-file>greetings.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>GreetingServlet</servlet-name>
        <servlet-class>exple1.GreetingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GreetingServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>BlacklistFilter</filter-name>
        <filter-class>exple1.BlacklistFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>BlacklistFilter</filter-name>
        <url-pattern>/hello</url-pattern>
    </filter-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/404.html</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/500.html</location>
    </error-page>

</web-app>
